In [4]:
import pandas as pd

In [5]:
CCTV_Seoul = pd.read_csv('../data/01.CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

   기관명    소계   방범용  도시공원, 놀이터  어린이 보호  쓰레기 무단투기   기타
0  강남구  3238  2076        261     443         0  458
1  강동구  1010   537         84     125        27  237
2  강북구   831   469         86     108        85   83
3  강서구   911   623         51     182        28   27
4  관악구  2109  1083        161     195        57  613

In [6]:
CCTV_Seoul.columns

Index(['기관명', '소계', '방범용', '도시공원, 놀이터', '어린이 보호', '쓰레기 무단투기', '기타'], dtype='object')

In [8]:
CCTV_Seoul.columns[0]

'기관명'

In [9]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : '구별'}, inplace=True)
CCTV_Seoul.head()

    구별    소계   방범용  도시공원, 놀이터  어린이 보호  쓰레기 무단투기   기타
0  강남구  3238  2076        261     443         0  458
1  강동구  1010   537         84     125        27  237
2  강북구   831   469         86     108        85   83
3  강서구   911   623         51     182        28   27
4  관악구  2109  1083        161     195        57  613